h2 {
    font-size: calc(36vw / 15.12);
    ;
    font-weight: bold;
    color: #000;
}

.mypage__profile-section {
    margin: calc(78vw / 15.12) auto calc(77vw / 15.12) auto;
    padding: 0 calc(20vw / 15.12);
    width: calc(1057vw / 15.12);
    height: calc(150vw / 15.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mypage__profile-section-inner {
    display: flex;
    justify-content: start;
    gap: calc(57vw / 15.12);
}

.mypage__profile__img {
    width: calc(150vw / 15.12);
    height: calc(150vw / 15.12);
    border-radius: 50%;
    overflow: hidden;
    /* はみ出た部分を切り取る */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage__profile__img-default {
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
}

.mypage__profile__img-selected {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 縦横比を維持しつつ切り取り */
}

.mypage__profile-name-star {
    text-align: center;
}

.mypage__profile-name {
    margin-top: calc(32vw / 15.12);
    margin-bottom: calc(12vw / 15.12);
}

.mypage__edit-profile-btn {
    width: calc(310vw / 15.12);
    height: calc(59vw / 15.12);
    border-radius: calc(10vw / 15.12);
    border: solid calc(2vw / 15.12) #FF5555;
    font-size: calc(26vw / 15.12);
    font-weight: bold;
    color: #FF5555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mypage__list {
    height: calc(47vw / 15.12);
    padding: 0 calc(20vw / 15.12) calc(10vw / 15.12) calc(20vw / 15.12);
    border-bottom: solid calc(2vw / 15.12) #5F5F5F;
    margin-bottom: calc(70vw / 15.12);
}

.mypage__list__inner {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: calc(91vw / 15.12);
    width: calc(1413vw / 15.12);
    margin: 0 auto;
    padding: 0 calc(50vw / 15.12);
}

.mypage__list__link {
    color: #5F5F5F;
    font-size: calc(24vw / 15.12);
    font-weight: bold;
}

.mypage__list__link.active {
    color: #FF0000;
}

.mypage__list__link-trading {
    display: flex;
    align-items: center;
    gap: calc(12vw / 15.12);
}

.total-unread-counter {
    display: block;
    margin-top: calc(4vw / 15.12);
    width: calc(27vw / 15.12);
    height: calc(26vw / 15.12);
    line-height: 1;
    border-radius: calc(10vw / 15.12);
    color: #FFF;
    background-color: #FF0000;
    text-align: center;
    font-weight: 700;
    font-size: calc(24vw / 15.12);
}

.mypage__inner {
    width: calc(1413vw / 15.12);
    padding: 0 calc(20vw / 15.12);
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.toppage__product-container {
    width: calc(290vw / 15.12);
    height: calc(320vw / 15.12);
    margin-right: calc(71vw / 15.12);
    margin-bottom: calc(77vw / 15.12);
}

.toppage__product-container:nth-child(4n) {
    margin-right: 0;
}

.toppage__product-image {
    display: block;
    width: 100%;
    height: 87.8%;
    background-color: #D9D9D9;
    border-radius: calc(4vw / 15.12);
}

.toppage__product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    background-color: #fff;
}

.toppage__product-name {
    margin-top: calc(2vw / 15.12);
    font-size: calc(25vw / 15.12);
    color: #000000;
}

.toppage__product-sold {
    margin-top: 0;
    font-size: calc(25vw / 15.12);
    color: #FF0000;
}

/* 評価点 */
.star-rating {
    display: inline-flex;
    gap: calc(2vw / 15.12);
}

.star {
    font-size: calc(40vw / 15.12);
    color: #D9D9D9;
    line-height: 1;
    /* 未評価（灰色） */
}

.star.rating-active {
    color: #FFF048;
    /* 評価あり（黄色） */
}

.product-image-wrapper {
    position: relative;
}

.product-unread-counter {
    background-color: #FF0000;
    color: #FFF;
    font-size: calc(10vw / 15.12);
    font-weight: 700;
    text-align: center;
    height: calc(20vw / 15.12);
    width: calc(20vw / 15.12);
    line-height: calc(19vw / 15.12);
    border-radius: 50%;
    position: absolute;
    top: calc(4vw / 15.12);
    left: calc(8vw / 15.12);
    z-index: 10;
}