.content__heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.btn {
    background-color: #FF5555;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.mypage__edit-form__heading {
    margin-top: 59px;
    margin-bottom: 55px;
}

.mypage__edit-form__inner {
    max-width: 680px;
    margin: 0 auto;
}

.mypage__edit-form__img-box {
    display: flex;
}

.mypage__edit-form__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    /* はみ出た部分を切り取る */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage__edit-form__img-default {
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
}

.mypage__edit-form__img-selected {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 縦横比を維持しつつ切り取り */
}


.register-form__group {
    margin-bottom: 38px;
}

.register-form__label {
    font-size: 24px;
    font-weight: bold;
}

.register-form__input {
    margin-top: 4px;
    width: 100%;
    height: 59px;
    border: #5F5F5F solid 1px;
    border-radius: 4px;
    padding-left: 12px;
    color: #000;
    font-size: 24px;
}

.mypage__edit-form__btn {
    margin-top: 78px;
    display: block;
    width: 100%;
    height: 65px;
    font-size: 24px;
}