h2 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.purchase-container {
    display: flex;
    justify-content: space-between;
    width: 1347px;
    margin: 93px auto;
    padding: 0 20px 174px 20px;
}

.purchase-left {
    width: 805px;
}

.item-info {
    display: flex;
    gap: 55px;
    padding-bottom: 52px;
    border-bottom: #000 solid 1px;
}

.item-image {
    width: 178px;
    height: 178px;
    background-color: #D9D9D9;
}

.item-image img {
    width: 178px;
}

.item-detail h2 {
    margin-bottom: 10px;
}

.item-price {
    font-size: 30px;
    color: #000;
}

.item-price span {
    font-size: 27px;
    color: #000;
    margin-right: 8px;
}

.payment-section {
    padding-left: 35px;
    margin-top: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 63px;
}

.payment-section-title,
.addredd-section-title {
    margin-bottom: 40px;
}

.payment-select {
    padding: 5px;
    border: solid 1px #5F5F5F;
    border-radius: 4px;
    width: 265px;
    font-size: 16px;
    font-weight: bold;
    color: #5F5F5F;
    margin-left: 61px;
}

.address-section {
    margin-top: 20px;
    padding-left: 35px;
    padding-bottom: 59px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.address-section-left__text-container {
    margin-left: 61px;
}

.address-section-left__text {
    font-size: 20px;
    padding-bottom: 6px;
    font-weight: bold;
}

.address-section-right {
    margin-right: 25px;
}

.change-link {
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
}

.purchase-right {
    width: 440px;
}

.purchase__form__summary-box {
    border: 1px solid #000;
    width: 100%;
}

.summary-row {
    display: flex;
    height: 115px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    align-items: center;
    text-align: center;
}

.summary-row:last-child {
    border-bottom: none;
}

.summary-title {
    width: 50%;
    font-size: 20px;
}

.summary-value {
    width: 50%;
    font-size: 24px;
}

.summary-value span {
    font-size: 20px;
}

.purchase-button {
    background-color: #FF5555;
    color: #fff;
    font-size: 26px;
    font-size: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 66px;
}