html,
body {
    height: 100%;
    background-color: #fff;
}

a {
    text-decoration: none;
    border: #fff 1px solid;
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.header {
    height: 80px;
    background-color: #000;
    padding: 0px 26px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    width: 360px;
    height: 50px;
    border: #fff 1px solid;
}

.header__heading img {
    width: 100%;
    padding-top: 5px;
}

.search-form {
    width: 563px;
    text-align: center;
    border: #fff 1px solid;
}

.search-form__input {
    width: 500px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    padding-left: 30px;
    font-size: 24px;
}

.search-form__input::placeholder {
    color: #000;
    font-size: 24px;
    padding-left: 30px;
}

.header nav {
    width: 463px;
    border: solid #fff 1px;
    padding-left: 37px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.header-nav__link-logout {
    color: #fff;
}

.header-nav__item a {
    color: #fff;
}

.header-nav__item__button {
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
}

.header-nav__item__button a {
    color: #000;
}